<body>
    
    <form method='POST' action='/articles/add'>

     
    
      <div class="container">
        <h1><i>Adauga un articol</i></h1>
        
        <input type="text" placeholder="Enter title" name="title" class="form-control">
        
        <input type="text" placeholder="Enter image adress" name="image" class="form-control"> 
    
        
        <textarea class="form-control" placeholder="Write your view" name='body' class="form-control"></textarea>
            
        <button type="submit" value="Submit" class="btn btn-lg btn-primary btn-block btn-dark">Post</button>
      </div>
    </form>
  </body>