    <div class="container" style="margin-top:50px">


      <!--descrierea paginii-->
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">In acest loc poti gasi articolele in ordine cronologica</h1>
          <p class="lead my-3">Postarile de pe blog pot fi modificate sau sterse doar de admin</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continua sa citesti cu drag...</a></p>
        </div>
      </div>
      <!--luam fiecare articol la rand-->
      <% for(var i = articles.length - 1; i >= 0; i--) { %>

      <div class="col-md-8">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 article-head-border">
          <div class="card-body d-flex flex-column align-items-start">
            
            <h3 class="mb-0">
              <a class="text-dark" href="#"><%=articles[i].title%></a>
            </h3>
            <div class="mb-1 text-muted"><%=articles[i].postDate%></div>
            <p class="card-text mb-auto">
              <%articles[i].body%>
            </p>
            <a href="/articles/<%= articles[i].id %>">Continue reading</a>
          </div>
          <img class="card-img-right flex-auto d-none d-md-block" src="<%=articles[i].image%>" alt="Card image cap">
        </div>
      </div>
      <% } %>
        
</div>