<div class="container about-container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="about-text">DESPRE mine</h1>
            <hr class="hr-about-text">
        </div>
    </div>
  </div>
  <div class="container about-containter-content">  
    <div class="row content1">
        <div class="col-lg-8">
            <div class="content1">
           <p class="text-me">
            <h5>Be the kind of person you would like to meet</h3><br>
            -
            <br>
            acesta este motto-ul sub care am început să scriu încă din 2012 pe blogul meu, motto care rămâne și valabil și acum, după 6 ani petrecuți alături de comunitatea blogului meu, în online.
            Numele meu este Alina Ceușan, am 26 de ani, am terminat Facultatea de Comunicare și PR în cadrul FSPAC Cluj-Napoca. Sunt blogger, influencer, făuritor de creative content în online.
            De-a lungul timpului am lucrat cu numeroase branduri naționale și internaționale, NIVEA, Tommy Hilfiger, H&M, L'Oreal Paris, Lee Cooper, Philips, Worldclass fiind doar câteva dintre ele.
            Blogul meu a început ca o temă de casă/un examen pentru facultate, deci da, totul a început din necesitate și s-a dezvoltat firesc din pasiune pentru scris, modă, styling și pentru content creativ și informativ de care avem nevoie atât de mult în ziua de azi, în online.
           </p>
        </div>
        </div>
        <div class="col-lg-4 about-right-1">
            <div class="content-img1">
               <img src="images/img1.jpg" class="img1">
            </div>
        </div>
    </div>

    <div class="row content2">
        <div class="col-lg-4">
            
                <div class="content-img1">
                    <img src="images/img2.jpg" class="img1">
                 </div>
            </div>
        
        <div class="col-lg-8 about-right-1">
            <div class="content1">
                <p>
                    <h5>Awards</h5>
                        PEOPLE’S CHOICE – Digital Divas 2015

                        PEOPLE’S CHOICE Intel – Digital Divas 2014

                        PEOPLE’S CHOICE – Digital Divas 2013

                        Best Instagram Account – 3rd place, Digital Divas 2014

                        Best Instagram Account of 2015, Digital Divas

                        FTV – Best Fashion Blogger of the Year, 2013

                        Best Beauty Blog – 3rd place – Digital Divas 2013

                        Best Fashion Blog – 3rd place – Digital Divas 2015
                </p>
                <img src="images/sign.jpg" class="sign">
            </div>
        </div>
    </div>
    
</div>

