<!--------PROGRESS BAR---------->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>
</div>

<div class="slide-show-container">

    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>  

    <div id="slide1" class="slide-show">
        <h1>Cum am ajuns sa am un blog de fashion cu 10000 de urmaritori?</h1>
        <p>Apasa tasteze A-Z pentru a derula parcursul</p>
    </div>

    <div id="slide2" class="slide-show">
      <img src="images/desktop.jpg" class="slide-show-image">
    
        <img class="image-animation" src="images/PikPng.com_fashion-model-silhouette-png_3309570.png">
      
    </div>

    <div id="slide3" class="slide-show">
      xx
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>


<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
<input type="text">