<body>
  
    <form method='POST' action='/users/register'>
      <div class="imgcontainer">
        <img src="../images/login.jpg" alt="Avatar" class="avatar">
      </div>
    
      <div class="container">
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter your name" name="name" class="form-control">
    
        <label for="email" ><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" class="form-control">
  
        <label for="username" ><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" class="form-control">
  
        <label for="password" ><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" class="form-control">
        
        <label for="password" ><b>Verify your password</b></label>
        <input type="password" placeholder="Confirm password" name="password2" class="form-control">
  
  
        <button type="submit" value="Submit" class="btn btn-lg btn-primary btn-block btn-dark">Register</button>
      </div>
    </form>
  </body>